<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>301404022871-gofqcdb53duu9j1cs1u719uks89272f8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.301404022871-gofqcdb53duu9j1cs1u719uks89272f8</string>
	<key>API_KEY</key>
	<string>AIzaSyATpXNzHo_Bhtze39mpOZJkHDp-OfOd838</string>
	<key>GCM_SENDER_ID</key>
	<string>301404022871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jmabilon.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-80d56</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-80d56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301404022871:ios:95f581ffd9176bd51f1b12</string>
</dict>
</plist>